
<div class="row">
<div class="col-md-6">
  <div class="row">
    <div class="col-md-6 ">


       <select  ng-model="rowcount" ng-init="rowcount=20" class="form-group topdrop" >
         <option value="5">25 members</option>
         <option value="10">50 members</option>
         <option value="100" >100 members</option>
         <option value="250">250 members</option>
       </select>

    </div>
    <div class="col-md-6">
      Out Of 2000 Members !
    </div>
  </div>



</div>
<div class="col-md-6 ">
  <div class="topsearch form-group pull-left ">
      <input ng-model="search" type="text" class="search form-control" placeholder="What you looking for?">

  </div>
    <a type="button"  ui-sref="^.add" class="btn btn-primary btn-md pull-left">+ Add Member</a>
</div>





</div>
<table class="table table-hover" at-table at-paginated at-list="ctrl.members" at-config="ctrl.config" >
  <thead>
    <tr>
      <th>Date Joined</th>
      <th>Firstname</th>
      <th>Account Number</th>
      <th>Contribution Amount</th>
      <th>Community</th>
      <th>Do Action</th>
    </tr>
  </thead>
  <tbody ng-repeat="m in members | filter:search | limitTo:rowcount" >
    <tr>
      <td>{{m.created | date : 'dd/MM/yyyy'}}</td>
<td>{{m.fullname}}</td>
<td>{{m.accountnumber}}</td>
<td>{{m.contribution}}</td>
<td>{{m.community}}</td>
<td>      <a ui-sref="^.view({memberId: m.id})">
      view
    </a>
  <a ui-sref="^.edit({memberId: m.id})">
  edit
    </a></td>
    </tr>

  </tbody>
</table>
<at-pagination at-list="ctrl.members" at-config="ctrl.config"></at-pagination>
