<section admin-header class="content-header"
         title="{{ 'Dashboard' | translate}}"
         sub-title="{{ 'Manage your app here!' | translate}}">
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <section class="content">
        <div class="row">

               <div class="dash col-lg-12">
            <div class="col-lg-4 col-sm-6 text-center cm">
              <div class="child">
                <img class="img-center" src="images/categories-icon.svg" alt="">
                <h3 style="text-align:center">    {{ 'Categories' | translate }}
                </h3>
      </div>
            </div>
            <a ui-sref="app.member.list">
            <div class="col-lg-4 col-sm-6 text-center cm">
                  <div class="child">
                <img class=" mg-center" src="images/members-icon.svg" alt="">
                <h3>{{'Members' | translate}}
                </h3>
      </div>
            </div></a>
            <div class="col-lg-4 col-sm-6 text-center cm">
                  <div class="child">
                <img class=" img-center" src="images/transaction-icon.svg" alt="">
                <h3>{{'Add Transaction' | translate}}
                </h3>
      </div>
            </div>
            <a href="#">
            <div class="col-lg-4 col-sm-6 text-center cm">
                  <div class="child">
                <img class="img-center" src="images/reports-icon.svg" alt="">
                <h3>{{'Get Reports'|translate}}
                </h3>
      </div>
            </div></a>
            <a href="#">
            <div class="col-lg-4 col-sm-6 text-center cm ">
                  <div class="child">
                <img class=" img-center" src="images/products-icon.svg" alt="">
                <h3>{{'Products'| translate}}
                </h3>
      </div>
            </div></a>

            <a href="#">
            <div class="col-lg-4 col-sm-6 text-center cm">

                  <div class="child">
                <img class=" img-center" src="images/team-icon.svg" alt="">
                <h3>{{'Team'| translate}}
                </h3>
      </div>
            </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
